# Base dependencies
langchain>=0.3.25
langchain-huggingface>=0.2.0
huggingface_hub>=0.32.4
redisvl>=0.7.0
neo4j>=5.28.1
redis>=6.2.0
python-dotenv>=1.1.0
sentence-transformers>=4.1.0
nbimport>=0.0.0
jupytext>=1.17.2
import_ipynb>=0.2

# Clients
anthropic>=0.52.2
openai>=1.75.0

# Development dependencies
pytest>=8.4.0
jupyter>=1.1.1

torch>=2.7.0
transformers>=4.52.4
numpy>=2.2.6
pandas>=2.3.0
rich>=13.9.4
spacy>=3.8.7
scikit-learn>=1.7.0
seaborn>=0.13.2
tqdm>=4.67.1
aioneo4j>=0.0.5
matplotlib>=3.10.3
tenacity>=9.1.2
requests>=2.32.3
langchain-community>=0.3.24
langdetect>=1.0.9
langchain-openai>=0.3.21
langchain-anthropic>=0.3.15
langgraph>=0.4.8
pydantic>=2.11.5
nest_asyncio>=1.6.0
crewai>=0.126.0
lm-format-enforcer>=0.10.11
langchain-experimental>=0.3.4
ipykernel>=6.29.5
statsmodels>=0.14.4
xgboost>=3.0.2
javalang>=0.13.0
vLLM>=0.9.0.1

nbconvert[webpdf]>=7.16.6